<div class="section" id="vkglobal">
    <div class="container">
        <div class="h4 text-center mb-4 title">VK Global</div>
        <div class="card" data-aos="fade-up" data-aos-offset="10">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="card-body">
                        <div class="h4 mt-0 title">Overview</div>

                        <p align="justify"><b>VK Global</b>, established in 2020, operates within the socio-commerce industry, leveraging a global framework to create impactful business opportunities. 
                            Partnered with leading corporate entities, we currently operate in the US and India, with plans for global expansion. Our mission is to help individuals monetize their 
                            social media presence by building entrepreneurial communities that generate revenue through growth and profit-sharing..</p>

                        <p align="justify">We are seeking ambitious individuals who are passionate about entrepreneurship, eager to learn new skills, and committed to building a business alongside their current careers. Our model offers the potential for creating passive income, providing financial security. 
                            Through leadership, communication, and dedicated mentorship and coaching, we empower people to grow their business, make an impact, and achieve success on their own terms.</p>

                        <div class="row mt-4">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Our Mission:</strong>
                            </div>
                            <div class="col-sm-8">Empower individuals to build entrepreneurial communities and achieve financial independence through socio-commerce.</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="card-body">
                        <div class="h4 mt-0 title">Company Profile</div>
                        <div class="row">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Established In:</strong>
                            </div>
                            <div class="col-sm-8">2020</div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Founder:</strong>
                            </div>
                            <div class="col-sm-8">Vamshi Kumar Konduru</div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Co-Founder:</strong>
                            </div>
                            <div class="col-sm-8">Venkata Sai Keerthana Jeela</div>
                        
                        </div>
                        <div class="row mt-4">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Operates In:</strong>
                            </div>
                            <div class="col-sm-8">United States (US), India (IND)</div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">What We Do:</strong>
                            </div>
                            <div class="col-sm-8">We provide a platform where users can monetize social media by building communities of entrepreneurs, generating revenue, and sharing profits.</div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Our Values:</strong>
                            </div>
                            <div class="col-sm-8">Leadership, growth, impact, and financial security</div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Future Outlook:</strong>
                            </div>
                            <div class="col-sm-8">Expanding our entrepreneurial network and mentorship programs worldwide.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>